---
import welcomeImage from "../../assets/img-welcome.png";
---

<section class="container py-8 md:py-12">
  <div class="overflow-hidden rounded-2xl bg-white">
    <img
      src={welcomeImage.src}
      width={welcomeImage.width}
      height={welcomeImage.height}
      alt="Energo Food Group of companies"
      loading="eager"
      class="mx-auto block h-auto w-full max-w-5xl object-contain"
    />
    <p>Наша компания занимается производством продуктов питания, оптовой и розничной торговлей, экспортом, импортом и управлением бизнеса в сфере общественного питания.</p>
  </div>
</section>
