<footer class="bg-black py-10 text-white">
  <div class="container">
    <div class="space-y-8 text-center sm:gap-12">
      <div class="max-w-3xl mx-auto">
        <div class="text-lg font-semibold">ENERGO FOOD GROP CO.,LTD.</div>
        <div class="mt-1 text-sm text-white/90">Tax ID: 0835568021786</div>
        <div class="mt-2 text-sm leading-6 text-white/90">Address: 221/35 Moo 3, Si Sunthon Subdistrict, Thalang District, Phuket 83110</div>
      </div>
    </div>
  </div>
</footer>
